{% extends 'base.html' %}
{% block title %} - User Todos{% endblock %}
{% block content %}
<style>
    body{
        background-color: rgb(109, 166, 219);
    }

    nav.navbar .container li.login,
    nav.navbar .container li.signup{
        display: none;
    }
    nav.navbar .container li.logout{
        display: block !important;
    }
</style>
<div class="container mt-4">
    
    <div class="todos-wrapper py-3 px-4">
        <h2 class="text-center"><strong style="text-transform: capitalize;">{{request.user}}'s Todos</strong></h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="new_todo" id="new_todo" class="form-control new_todo" placeholder="Enter todo">
                <button type="submit" class="btn btn-primary">Add Todo</button>
            </div>
        </form>
        {% for message in messages %}
            <div class="mt-3 alert alert-info alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <ul class="todo-list">

                {% if todos %}
                    {% for todo in todos %}
                        {% if todo.completed %}
                        <li class="list-item-todo completed text-light">
                            <div>
                                <span>{{todo}}</span>
                            </div>
                            <div class="cta">
                                <a href="{% url 'edit-todo' todo.id %}" class="btn btn-sm btn-warning">Edit</a>
                                <a href="{% url 'delete-todo' todo.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </li>
                        {% elif todo.completed == False%}
                        <li class="list-item-todo">
                            <div>
                                <span>{{todo}}</span>
                            </div>
                            <div class="cta">
                                <a href="{% url 'edit-todo' todo.id %}" class="btn btn-sm btn-warning">Edit</a>
                                <a href="{% url 'delete-todo' todo.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                {% else %}
                <li class="list-item-todo completed text-light">You have no todos</li>
                {% endif %}
        </ul>
        <div class="bs-navigation">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if todos.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-secondary text-light" href="?page={{todos.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}
                    {% for i in pageNumbers %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link bg-secondary text-light">{{i}} </a>
                    </li>
                    {% endfor %}
                    {% if todos.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-secondary text-light" href="?page={{todos.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>  
    </div>
</div>
    
{% endblock %}